@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    text-decoration: none;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: lightcyan;
}

.navbar {
    width: inherit;
    height: 65px;
    background: rgb(75, 104, 221);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

}

.navbar .nav-left {
    width: 150px;
    border: 3px solid red;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-left .fa-bars {
    font-size: 26px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar .nav-left img {
    width: 90px;
}

.nav-sidebar {
    width: 250px;
    height: 100vh;
    background: gray;
    border-top: 1px solid rgb(100, 100, 100);
    position: absolute;
    left: 0;
    top: 65px;
    z-index: 12;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.nav-sidebar-deactive {
    visibility: hidden;
    /* transition: all 0.1s ease; */

}

.nav-sidebar-active {
    visibility: visible;
    transition: all 0.2s;
}


/* MEDIA QUERY START */


/* For Desktop View */
@media screen and (min-width: 1024px) {}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .navbar {
        height: 50px;
        padding: 10px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 10px;
    }

    .nav-sidebar {
        top: 50px;
        z-index: -1;
    }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {}


/* MEDIA QUERY END */